<!doctype html>
<html>

<head>
    <title>Chat App</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sidebar-collapse.css">
    <link rel="stylesheet" href="/css/adminStyle.css"> -->
    <%- css("bootstrap.min.css") %>
    <%- css("sidebar-collapse.css") %>
    <%- css("adminStyle.css") %>
    <style>
        .container-fluid,
        .container-fluid .row-offcanvas,
        .container-fluid .sidebar-offcanvas,
        .container-fluid .chat-area {
            height: 100%;
        }

        .sidebar-offcanvas {
            padding-left: 0;
            padding-right: 0;
            background-color: #eee;
        }
        .main-chat-header {
            margin-left: -15px;
            margin-right: -15px;
        }
        .user-header,
        .main-chat-header {
            height: 60px;
            padding: 10px;
            background-color: #000;
            color: white;
        }
        .sidebar-chat {
            position: relative;
            height: 60px;
            padding: 10px;
            background-color: #000;
            color: white;
            box-shadow: 0 -5px 3px -2px #000 inset;
        }
        .sidebar-chat-notification {
            position: absolute;
            text-align: center;
            width: 30px;
            top: 10px;
            right: 10px;
            border-radius: 90px;
            padding: 5px;
            color: #fff;
            background-color: red;
        }
        .user-header-name {
            font-size: 18px;
            margin: 5px;
        }
        .chat-messages {
            height: calc(100% - 110px);
        }

        /* http://paletton.com/#uid=c4r2V0D3J0kllllaFw0g0qFqFg0w0aF */
        .palleton-blue {
            background-color: #2D4471;
        }
        .palleton-purple {
            background-color: #4A2D74;
        }
        .palleton-green {
            background-color: #297B48;
        }
        .palleton-orange {
            background-color: #AA7539;
        }

        .user-image {
            background-color: white;
            height: 100%;
            border-radius: 90px;
            padding: 5px;
        }
    </style>
</head>

<body>
    <ul class="pages">
        <li class="chat page" style="display: initial">
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-left" style="overflow-y: hidden">
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                        <div class="user-header">
                            <img class="user-image" src="./img/user.svg" />
                            <span class="user-header-name">Brandon</span>
                        </div>
                        <div class="sidebar-chat palleton-blue">
                            <div>Chat 1</div>
                            <div>Company 1</div>
                            <span class="sidebar-chat-notification">2</span>
                        </div>
                        <div class="sidebar-chat palleton-purple">
                            <div>Chat 2</div>
                            <div>Company 1</div>
                        </div>
                        <div class="sidebar-chat palleton-green">
                            <div>Chat 3</div>
                            <div>Company 1</div>
                        </div>
                        <div class="sidebar-chat palleton-orange">
                            <div>Chat 4</div>
                            <div>Company 1</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 chat-area">
                        <div class="main-chat-header palleton-blue">
                            <button type="button" class="close" aria-hidden="true">×</button>
                            <div>Chat 1</div>
                            <div>Company 1</div>
                        </div>
                        <div class="chat-messages">

                        </div>
                        <div class="chat-input">
                            <div class="row">
                                <div class="col-xs-9 form-group">
                                    <input type="text" class="form-control" placeholder="Type Message" />
                                </div>
                                <div class="col-xs-3 form-group">
                                    <button type="button" class="btn btn-primary form-control">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="login page" style="display: none">
            <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" type="text" maxlength="14" />
                <h3 class="title">Password</h3>
                <input class="passwordInput" type="password" maxlength="10" />
            </div>
        </li>
        <li class="error page" style="display: none">
            <div class="form">
                <h3 class="title">Reconnecting...</h3>
            </div>
        </li>
    </ul>
    <audio id="windowSound">
        <source src="/sounds/new_chat_window.mp3" type="audio/mpeg">
    </audio>
    <audio id="chatSound">
        <source src="/sounds/new_message.mp3" type="audio/mpeg">
    </audio>
    <audio id="pokeSound">
        <source src="/sounds/poke.mp3" type="audio/mpeg">
    </audio>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/admin.js"></script> -->
    <%- js("jquery.min.js") %>
    <%- js("socket.io.js") %>
    <%- js("bootstrap.min.js") %>
    <%- js("admin.js") %>
</body>

</html>
