<!doctype html>
<html>

<head>
    <title>Chat App</title>

    <%- css("bootstrap.min.css") %>
    <%- css("sidebar_collapse.css") %>
    <%- css("adminStyle.css") %>
    <style>
        .container-fluid,
        .container-fluid .row-offcanvas,
        .container-fluid .sidebar-offcanvas,
        .container-fluid .chat-area,
        .chat-container {
            height: 100%;
        }

        .sidebar-offcanvas {
            padding-left: 0;
            padding-right: 0;
            background-color: #eee;
        }
        .main-chat-header {
            margin-left: -15px;
            margin-right: -15px;
        }
        .user-header,
        .main-chat-header {
            height: 60px;
            padding: 10px;
            background-color: #000;
            color: white;
        }
        .sidebar-chat {
            position: relative;
            height: 60px;
            padding: 10px;
            background-color: #000;
            color: white;
            box-shadow: 0 -5px 3px -2px #000 inset;
            cursor: pointer;
        }
        .sidebar-chat-notification {
            position: absolute;
            text-align: center;
            width: 30px;
            top: 10px;
            right: 10px;
            border-radius: 90px;
            padding: 5px;
            color: #fff;
            background-color: red;
        }
        .user-header-name {
            font-size: 18px;
            margin: 5px;
        }
        .chat-messages {
            height: calc(100% - 110px);
            overflow-y: auto;
        }

        /* http://paletton.com/#uid=c4r2V0D3J0kllllaFw0g0qFqFg0w0aF */
        .paletton-blue {
            background-color: #2D4471;
        }
        .paletton-purple {
            background-color: #4A2D74;
        }
        .paletton-green {
            background-color: #297B48;
        }
        .paletton-orange {
            background-color: #AA7539;
        }

        .user-image {
            background-color: white;
            height: 100%;
            border-radius: 15px;
            padding: 5px;
        }
        .message {
            width: 100%;
        }
        .message::after {
            content: "";
            display: block;
            clear: both;
        }
        .message-text {
            padding: 10px;
            margin-top: 10px;
            max-width: 80%;
            border-radius: 90px;
        }
        .message-sender > .message-text {
            float: right;
            background-color: #abb3e8;
        }
        .message-receiver > .message-text {
            float: left;
            background-color: #9cde97;
        }
        .time-message {
            width: 100%;
            text-align: center;
            padding: 10px;
        }
        .time-message::after {
            border-top: 1px solid black;
        }
        .time-text {
            display: inline-block;
            background-color: #fff;
        }
        .mid-horizontal-line {
            border-top: 1px solid black;
            width: 100%;
            transform: translateY(20px);
            position: relative;
            z-index: -1;
        }
    </style>
</head>

<body>
    <ul class="pages">
        <li class="chat page" style="display: initial">
            <div class="container-fluid">
                <div class="row row-offcanvas row-offcanvas-left" style="overflow-y: hidden">
                    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                        <div class="user-header">
                            <img class="user-image" src="./img/user.svg" />
                            <span class="user-header-name"><%- user.firstName %></span>
                        </div>
                        <div class="sidebar-chat paletton-blue" onclick="showChat('1');">
                            <div class="sidebar-chat-name">Chat 1</div>
                            <div class="sidebar-chat-company">Company 1</div>
                            <span class="sidebar-chat-notification">2</span>
                        </div>
                        <div class="sidebar-chat paletton-purple">
                            <div class="sidebar-chat-name">Chat 2</div>
                            <div class="sidebar-chat-company">Company 1</div>
                        </div>
                        <div class="sidebar-chat paletton-green">
                            <div class="sidebar-chat-name">Chat 3</div>
                            <div class="sidebar-chat-company">Company 1</div>
                        </div>
                        <div class="sidebar-chat paletton-orange">
                            <div class="sidebar-chat-name">Chat 4</div>
                            <div class="sidebar-chat-company">Company 1</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-9 chat-area">
                        <div class="chat-container" id="chat-1">
                            <div class="main-chat-header paletton-blue">
                                <button type="button" class="close" aria-hidden="true">×</button>
                                <div>Chat 1</div>
                                <div>Company 1</div>
                            </div>
                            <div class="chat-messages">
                                <div class="time-message">
                                    <div class="mid-horizontal-line"></div>
                                    <div class="time-text">
                                        <div>Chat Start</div>
                                        <div>12:31 PM</div>
                                    </div>
                                </div>
                                <div class="message message-sender">
                                    <div class="message-text">
                                        Hi Chat 1. How can I help you today?
                                    </div>
                                </div>
                                <div class="message message-receiver">
                                    <div class="message-text">
                                        I need some help retreiving my password.
                                    </div>
                                </div>
                            </div>
                            <div class="chat-input">
                                <div class="row">
                                    <div class="col-xs-9 form-group">
                                        <input type="text" class="form-control" placeholder="Type Message" />
                                    </div>
                                    <div class="col-xs-3 form-group">
                                        <button type="button" class="btn btn-primary form-control">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!--<li class="login page" style="display: none">
            <div class="form">
                <h3 class="title">What's your nickname?</h3>
                <input class="usernameInput" type="text" maxlength="14" />
                <h3 class="title">Password</h3>
                <input class="passwordInput" type="password" maxlength="10" />
            </div>
        </li>-->
        <li class="error page" style="display: none">
            <div class="form">
                <h3 class="title">Reconnecting...</h3>
            </div>
        </li>
    </ul>
    <audio id="windowSound">
        <source src="/sounds/new_chat_window.mp3" type="audio/mpeg">
    </audio>
    <audio id="chatSound">
        <source src="/sounds/new_message.mp3" type="audio/mpeg">
    </audio>
    <audio id="pokeSound">
        <source src="/sounds/poke.mp3" type="audio/mpeg">
    </audio>

    <script>
        var _admin =<%-JSON.stringify(user)%>
    </script>

    <%- js("jquery.min.js") %>
    <%- js("socket.io.js") %>
    <%- js("bootstrap.min.js") %>
    <%- js("admin_full.js") %>
</body>

</html>
